* {
    margin: 0;
    padding: 0;
} 



*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	background-color: #3e3e3e;
	border:0;
}
 
*::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
	border:0;
}

*::-webkit-scrollbar-thumb
{
	background-color: #2f2f2fb5;
	/* border: 2px solid #555555; */
}
 
  
 
body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/components/bg.svg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-position-y: top;
    background-position-x: center;
    background-size: contain;
    background-attachment: fixed;
    overflow-wrap: normal;
    word-break: keep-all;
} 
     
p {
    margin: 1rem;
    line-height: 1.5rem;
    font-family: system-ui;
}
 

.hero-title-h1{
  font-family: monospace;
  font-size: 2rem;
  color: #ffc05a;
} 

.hero-title-h2{
    font-family: monospace;
    font-size: 1rem;
    color: white;
}

header {
    /*! background-color: #333; */
    color: #fff;
    /*! padding: 20px; */
    /* text-align: center; */
  }
  
  .heading-placeholder {
    font-size: 3rem;
    padding: 1rem;
    word-break: auto-phrase;
    color: #ffc05a;
  }
  
  section {
    padding: 20px;
  }
  
  .paragraph-placeholder {
    font-size: 1.2em;
    color: #333;
    line-height: 1.5;
  }
   

.main-container{
    max-width: 70vw;
    min-width: 50vw;
    /* min-height: 100vh; */
    display: grid;
    grid-template-areas:
        "top-bar     top-bar    top-bar    "
        "hero-image    hero-image  hero-image "
        "hero-title    hero-title  hero-action"
        "gallery      gallery   gallery    "
        "news-and-events about     about "
        "news-and-events contact    contact"
        "social          social     social"
        "footer          footer     footer";
    grid-template-columns: 3fr 3fr 3fr;
    /* padding-top: 10vh; */
}

.top-bar{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area:top-bar;
    box-shadow: 0px 0px 14px 6px #00000099;
    border-bottom: 3px solid #470000;
    /* position: fixed; */
    /* width: 65vw; */
    /* top: 0; */
}



.top-logo img{
    width: 100px;
    /* height: 100px; */
    /* margin: 1rem; */
}

.right-menu-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-menu-item{
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.hero-container{

}

.hero-title{
    display: flex;
    grid-area: hero-title;
    margin: 1rem;
    flex-direction: column;
}

.hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: hero-image;
}

.hero-image img {
    max-height: 45vh;
    margin: 3rem;
}

.hero-action{
    grid-area: hero-action;
    /*! border-bottom: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: end;
  
}

button{
    background: transparent;
    border: 1px solid white;
    /*! border-radius: 1rem; */
    padding: 1rem;
    color: white;
    min-width: 120px;
    margin: 0;
    font-weight: bold;
    border-bottom: 0px;
    margin-left: 4px;
    font-size: 1rem;
    font-family: 'Montserrat' sans-serif;
    transform: skewX;
}

.hero-action .primary-sction {

}
.hero-action .sc-action{

}
.news-and-events{
    grid-area: news-and-events;
}

.gallery{
    grid-area: gallery;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* max-width: 60vw; */
    border-top: 4px solid rgba(255, 255, 255, 0.15);
    overflow-x: scroll;
}

.gallery-img-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    border-radius: 10rem;
}
.gallery-img-item img{
    object-fit: cover;
    /* width: 20vw; */
    max-height: 10vw;
    /* border-radius: 1rem; */
}

.about{
    grid-area: about;
} 

.contact{

}

.social{

} 

.footer{
  grid-area: footer;
  display: grid;
  grid-template-areas:
    "maps social contact"
    "cr cr cr";
  grid-template-columns: 1fr 1fr 1fr;
  /* border-top: 1px solid white; */
  /* grid-gap: 1rem; */
  /* background: linear-gradient(45deg, #e35757, transparent); */
  border-image: linear-gradient(90deg, rgb(161 39 42 / 0%) 0%, rgb(255 220 157 / 63%) 70%, rgb(253 181 65 / 0%) 100%) 1;
  border-style: solid;
  /* border-top: 37px; */
  /* margin: 14px; */
  border-left:0px;
  border-right:0px;
  border-bottom: 0;
  /* padding-top: 1rem; */
  /* padding-bottom: 1rem; */
} 
  
.footer .contact{
  grid-area: contact;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* align-items: center; */
  justify-content: center;
  border-image: linear-gradient(0deg, rgb(161 39 42 / 0%) 0%, rgb(255 51 51 / 34%) 70%, rgb(253 181 65 / 0%) 100%) 1;
  border-style: solid;
  border-top: 0;
  /* border-left: 5px; */
  /* border-right: 5px; */
}
.footer .maps{
  grid-area: maps;
}

iframe{
	width:100% !important;
}

.footer .social{
  grid-area: social;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px white; */
}

.fa-brands{
 width: 100% !important;
 font-size: 3rem;
 color: brown;
 transition: all 0.3s ease-in;
 cursor:pointer;
 display: flex !important;
 align-items: center;
 justify-content: center;
}
 
.fa-brands:hover{
	color:white;
}

.social-icons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.footer .cr{
  grid-area: cr;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 0.7rem;
  flex-direction: column;
  border-top: 1px solid #4f1f1f;
}




.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* background-color: #333; */ /* Change background color as needed */
    color: white; /* Change text color as needed */
    /* position: sticky; */
  }
   
  .top-logo img {
    max-width: 100px; /* Adjust logo size */
  } 
  
  .breadcrumb-toggle {
    display: none; /* Initially hide breadcrumb toggle */
  }
  
  .bar {
    width: 25px;
    height: 2px;
    background-color: #ff5050;
    margin: 4px 0;
  }
  
  .breadcrumb-menu {
    display: flex;
  }
   
  .breadcrumb-item {
    margin-right: 1rem;
  } 



a {
	color: #ffbd8c; 
}