* {
    margin: 0;
    padding: 0;
} 



*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	background-color: #3e3e3e;
	border:0;
}

*::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
	border:0;
}

*::-webkit-scrollbar-thumb
{
	background-color: #2f2f2fb5;
	/* border: 2px solid #555555; */
}
 
 

body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/components/bg.svg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-position-y: top;
    background-position-x: center;
    background-size: contain;
    background-attachment: fixed;
    overflow-wrap: break-word;
}
 
p {
    margin: 1rem;
    line-height: 1.5rem;
}

header {
    /*! background-color: #333; */
    color: #fff;
    /*! padding: 20px; */
    text-align: center;
  }
  
  .heading-placeholder {
    font-size: 2em;
    padding: 1rem;
    word-break: break-all;
  }
  
  section {
    padding: 20px;
  }
  
  .paragraph-placeholder {
    font-size: 1.2em;
    color: #333;
    line-height: 1.5;
  }
   

.main-container{
    max-width: 70vw;
    min-width: 50vw;
    /* min-height: 100vh; */
    display: grid;
    grid-template-areas:
        "top-bar     top-bar    top-bar    "
        "hero-image    hero-image  hero-image "
        "hero-title    hero-title  hero-action"
        "gallery      gallery   gallery    "
        "news-and-events about     about "
        "news-and-events contact    contact"
        "social          social     social"
        "footer          footer     footer";
    grid-template-columns: 3fr 3fr 3fr;
    /* padding-top: 10vh; */
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area:top-bar;
    box-shadow: 0px 0px 14px 6px #00000099;
    border-bottom: 1px solid #470000;
    /* position: fixed; */
    /* width: 65vw; */
    /* top: 0; */
}



.top-logo img{
    width: 100px;
    /* height: 100px; */
    /* margin: 1rem; */
}

.right-menu-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-menu-item{
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.hero-container{

}

.hero-title{
    display: flex;
    grid-area: hero-title;
    margin: 1rem;
}

.hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: hero-image;
}

.hero-image img {
    max-height: 45vh;
    margin: 3rem;
}

.hero-action{
    grid-area: hero-action;
    /*! border-bottom: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: end;
  
}

button{
    background: transparent;
    border: 1px solid white;
    /*! border-radius: 1rem; */
    padding: 1rem;
    color: white;
    min-width: 120px;
    margin: 0;
    font-weight: bold;
    border-bottom: 0px;
    margin-left: 4px;
    font-size: 1rem;
    font-family: 'Montserrat' sans-serif;
    transform: skewX;
}

.hero-action .primary-sction {

}
.hero-action .sc-action{

}
.news-and-events{
    grid-area: news-and-events;
}

.gallery{
    grid-area: gallery;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* max-width: 60vw; */
    border-top: 4px solid rgba(255, 255, 255, 0.15);
    overflow-x: scroll;
}

.gallery-img-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    border-radius: 10rem;
}
.gallery-img-item img{
    object-fit: cover;
    /* width: 20vw; */
    max-height: 10vw;
    /* border-radius: 1rem; */
}

.about{
    grid-area: about;
} 

.contact{

}

.social{

}

.footer{


}




.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* background-color: #333; */ /* Change background color as needed */
    color: white; /* Change text color as needed */
  }
  
  .top-logo img {
    max-width: 100px; /* Adjust logo size */
  }
  
  .breadcrumb-toggle {
    display: none; /* Initially hide breadcrumb toggle */
  }
  
  .bar {
    width: 25px;
    height: 1px;
    background-color: #ff5050;
    margin: 4px 0;
  }
  
  .breadcrumb-menu {
    display: flex;
  }
   
  .breadcrumb-item {
    margin-right: 1rem;
  } 
   
  /* Adjust layout for small screens */
  @media screen and (max-width: 768px) {

    .hero-image{
      margin-top: 3rem;
    }

    body{
      background-position-y: 25vh;
    }
    .top-logo img {
      width: 60px;
    }
  
    .top-bar{
      position:fixed;
      width: calc(100vw - 1rem);
      padding: 1rem 0rem 1rem 1rem;
      z-index: 1;
      background-color: black;
    }
    
    .top-logo {
      order: -1; /* Move logo to the beginning */
    }
  
    .breadcrumb-menu {
      display: none; /* Initially hide menu items */
      flex-direction: column; /* Display items in a column */
      background-color: #333; /* Change background color as needed */
      padding: 1rem; /* Adjust padding */
      align-items: center;
      justify-content: center;
    }
  
    .breadcrumb-menu.active {
      display: flex; /* Show menu items when active */
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
      height:100%;
      z-index:100;
      
    }

    .breadcrumb-menu.active .breadcrumb-item{
      margin:1rem;
      font-size: 1.5rem;
    }
  
    .breadcrumb-toggle {
      display: flex; /* Show breadcrumb toggle */
      cursor: pointer;
      flex-direction: column;
      z-index: 1111;
      margin-right: 1rem;
    }


    .main-container{min-width:100vw;width:100vw;max-width:unset;grid-template-areas:
"top-bar     top-bar    top-bar    "
"hero-image    hero-image  hero-image "
"hero-title    hero-title  hero-title"
"hero-action    hero-action  hero-action"
"gallery      gallery   gallery    "
"news-and-events news-and-events     news-and-events "
"about about    about"
"social          social     social"
"footer          footer     footer";/* grid-gap: 0rem; */}

    .hero-image img {
      width: 70vw;
    }

    .hero-action{
      justify-content: center;
    }
  .hero-title{
    display:none;
  }

  .gallery{
    padding: 0rem;
    justify-content: flex-start;
  }
  .gallery-img-item {
    padding: 0.5rem;
  }
    
  .gallery-img-item img{
    max-height: unset;
    height: 25vh;
  }
 
 p{
   font-size: 0.9rem;
 }
   h3{
     
   }
    
  }
  